article {
    background-color: rgb(168, 161, 121);
}

body {
    margin: 8px;
    display: block;
    background-color: black;
}

h1 {
    color: maroon;
}

h3 {
    color: forestgreen;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 8px;
    padding: 4px;
}

.flexContainer {
    display: flex;
    flex: row;
    max-width: 90%;
}

.footerPics {
    max-width: 50%;
}

.funParagraph {
    color: green;
}

#douglassDarty {
    float: right;
}

#mainHeading {
    color: red;
    text-align: center;
}

#titleHead {
    background-color: black;
    text-align: center;
    margin: auto;
}

#trumpsPlantation {
    width: 50%;
}